<div class="columns">
  <div class="column is-half">
    <img  class="info" src="<%= keyplayer.image %>" alt="<%= keyplayer.name %>">
  </div>
  <div class="column is-half">
    <ul>
     <li class="info">  Name  :  <%= keyplayer.name %> </li>
     <li>  Country  :   <%= keyplayer.country %> </li>
     <li>  Caps   : <%= keyplayer.caps %> </li>
     <li>  Goals  :  <%= keyplayer.goals %> </li>
     <li>  Club   : <%= keyplayer.club %> </li>
   </ul>
   <a href="/keyplayers/<%= keyplayer.id %>/edit">Edit</a>
   <form action="/keyplayers/<%= keyplayer.id %>/" method="post">
     <input type="hidden" name="_method" value="DELETE">
      <button class="button is-danger is-rounded is-outlined">DELETE</button>

   </form>
  </div>

</div>
