<h2>Edit <%= topten.name %></h2>


<form action="/toptens/<%= topten.id %>" method="post">
  <input type="hidden" name="_method" value="PUT">
  <div class="field">
    <label class="label">Country</label>
    <div class="control">
      <input class="input" type="text" name="country" value="<%= topten.country %>">
    </div>
  </div>
  <div class="field">
    <label class="label">Ranking</label>
    <div class="control">
      <input class="input" type="text" name="ranking" value="<%= topten.ranking %>">
    </div>
  </div>
  <div class="field">
    <label class="label">History</label>
    <div class="control">
      <input class="input" type="text" name="history" value="<%= topten.history %>">
    </div>
  </div>
  <div class="field">
    <label class="label">Stars</label>
    <div class="control">
      <input class="input" type="text" name="stars" value="<%= topten.stars %>">
    </div>
  </div>
  <div class="field">
    <label class="label">Odds</label>
    <div class="control">
      <input class="input" type="text" name="odds" value="<%= topten.odds %>">
    </div>
  </div>
  <div class="field">
    <label class="label">Image</label>
    <div class="control">
      <input class="input" type="text" name="image" value="<%= topten.image %>">
    </div>
  </div>
  <div class="field is-grouped">

    <div class="control">
      <button class="button is-link">Submit</button>
    </div>
  </div>
    <div class="control">
      <button class="button is-text">Cancel</button>
    </div>
  </div>
</form>
