<h1 class="title"><%= title %></h1>

<div class="columns is-multiline">
  <% toptens.forEach( (topten, key) => { %>
    <div class="column is-one-third-desktop is-half-tablet">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="<%= topten.image %>" alt="<%= topten.country%>">
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
              <h4 class="title is-4">
              <a href="/toptens/<%= topten._id %>">
              <%= topten.country %>
              </a>
              </h4>
              <h6 class="subtitle is-6">Ranking <%= topten.ranking %></h6>
          </div>
        </div>
      </div>
    </div>
  <% }) %>
</div>
