<div class="columns">
  <div class="column is-half">
    <img  class ="info" src="<%= topten.image %>" alt="<%= topten.country %>">
  </div>
  <div class="column is-half">
    <ul>
      <li class="info">  Country  :  <%= topten.country %>  </li>
     <li>  Ranking :  <%= topten.ranking %> </li>
     <li>  History :  <%= topten.history %> </li>
     <li>  Odds :  <%= topten.odds %> </li>
     <li>  Stars : <%= topten.stars %> </li>
   </ul>
   <a href="/toptens/<%= topten.id %>/edit">Edit</a>
   <form action="/toptens/<%= topten.id %>/" method="post">
     <input type="hidden" name="_method" value="DELETE">
     <button class="button is-danger is-rounded is-outlined">DELETE</button>

   </form>
  </div>

</div>
