<h2><%= topten.country %></h2>

<div class="columns">
  <div class="column is-half">
    <img src="<%= topten.image %>" alt="<%= topten.country %>">
  </div>
  <div class="column is-half">
    <ul>
     <li>  ranking <%= topten.ranking %> </li>
     <li>  history <%= topten.history %> </li>
     <li>  odds <%= topten.odds %> </li>
     <li>  stars <%= topten.stars %> </li>
   </ul>
   <a href="/toptens/<%= topten.id %>/edit">Edit</a>
   <form action="/toptens/<%= topten.id %>/" method="post">
     <input type="hidden" name="_method" value="DELETE">
     <button name="button">DELETE</button>

   </form>
  </div>

</div>
