
<div class="columns">
  <div class="column is-half">
    <img class="info" src="<%= botr.image %>" alt="<%= botr.country %>">
  </div>
  <div class="column is-half">
    <ul>
     <li class="info">  Country  :  <%= botr.country %>  </li>
     <li>  Fifa Ranking  :  <%= botr.ranking %> </li>
     <li>  History  :   <%= botr.history %> </li>
     <li>  Odds  :  <%= botr.odds %> </li>
     <li>  Stars  :   <%= botr.stars %> </li>
   </ul>
   <a href="/botrs/<%= botr.id %>/edit">Edit</a>
   <form action="/botrs/<%= botr.id %>/" method="post">
     <input type="hidden" name="_method" value="DELETE">
     <button class="button is-danger is-rounded">DELETE</button>

   </form>
  </div>

</div>
