<h2>Predictions</h2>
<ul>


<% results.forEach( result =>{ %>
  <li>
    <a href='/results/<%= result.id %>'> <%= result.winner %> </a>
    <img style="max-width: 200px; margin-top: 10px;" src='<%= result.image %>' alt='<%= result.winner %>' />
    <% if(result.creator){%>
      <%= result.creator.username %>
  <%  } %>
  </li>
<% }) %>
</ul>


<% if(locals.isLoggedIn){ %>
<h2>My Predictions</h2>
<%= locals.user.result %>
<ul>

<% locals.user &&  locals.user.results && locals.user.results.forEach( result =>{ %>
  <li>
    <%= result.winner %>
    <img style="max-width: 200px" src='<%= result.image %>' alt='<%= result.winner %>' />
    <% if(result.creator){%>
      <%= result.creator.username %>
  <%  } %>
  </li>
<% }) %>
</ul>
<% } %>
